__pycache__/
*.py[cod]
*.deb
/dist/
/build/
/lib/
/icon.png
/debian/icons/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/netease-music-linux/
debian/tmp/
*.egg-info/
.cache/
login-qr.png
cookie
state.json
desk-lyric.json
desk-lyric-pos.json
desk-lyric-state.json
.venv/
qt-window.json
