__pycache__/
*.py[cod]
*.deb
/dist/
/build/
/lib/
/icon.png
debian/.debhelper/
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/netease-music-linux/
debian/tmp/
*.egg-info/
.cache/
login-qr.png
cookie
state.json
